@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro:ital,wght@0,200;1,400&display=swap');

//theme colors
$light: rgb(255, 255, 255);
$dark: #000000;
$lightdark: #0000FF;
$black: #000;
$grey: rgb(199, 199, 199);
//fonts
$code: 'Press Start 2P', cursive;
$main: 'Source Code Pro', monospace;    


//font-size
$bigtext: 42px;
$smalltext: 28px;
$mediumtext: 38px;